.contenedor {
    width:95%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    display: inline;
}

.contenedor1 {
    width:25%;
    background-color: rgba(255, 255, 255, 0.938);
    padding: 2%;
    display:inline-block;
}

.contenedor2 {
    width:25%;
    background-color: rgba(245, 245, 245, 0.938);
    padding: 2%;
    display:inline-block;
}

.contenedor3 {
    width:25%;
    background-color: rgba(245, 245, 245, 0.938);
    padding: 2%;
    display:inline-block;
}

.dispImage{
    padding-top: 10px;
    max-width: 10%;
}

.contCrePro {
    width:25%;
    background-color: rgba(245, 245, 245, 0.938);
    height: 60vh;
    padding: 10%;
    display:inline-block;
    position: relative;
    border-radius: 10px;
    border-width: 1px;
    align-content: center;
}

input{
    border-radius: 10px;
    border-width: 1px;
    width: 300px;
    height: 3vh;
}

label{
    color: rgb(32, 30, 30);
}

h1{
    font-size: 20px;
    font-weight: 900;
    font-family:  'Langar';
    color: rgb(32, 30, 30);
    background-color: rgba(209, 205, 205, 0.938);
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
}

I{
    position: static center;
    color:rgba(209, 205, 205, 0.938);
}
body {
    font-family: Arial;
    background: url("https://cdn.pixabay.com/photo/2014/05/03/00/46/gadgets-336635_960_720.jpg") 50% fixed;
    background-size: cover;
    padding: 50px;
    }
