<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Inventario | Modificar Producto</title>

    
        <link rel="stylesheet" href="{{ url_for ('static', filename = '../static/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = '../static/css/estilo.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename = '../static/css/estilosH.css') }}">
        <script src="{{ url_for ('static', filename = '../static/js/recuperarapp.js') }}"> </script>
        <script src="{{ url_for ('static', filename = '../static/js/CP.js') }}"> </script>
        <script src="{{ url_for ('static', filename = '../static/js/login.js') }}"> </script>
    
    </head>
    
    <body>

    {% block contenido %}  
    
    {% endblock %}

    </body>
</html>







