{% extends "base.html" %}

{% block contenido %}  

    
<div class="contenedor3" style="margin: 10px 500px ; "></div>
<h1 class="h1">Por favor ingrese los datos del usuario</h1>
        <form action="{{url_for('CrearUsuario') }}" method="POST">
             

            {{ form.hidden_tag() }}
            
            <h2>Información del usuario:</h2>

            <p>Nombre del usuario:</p>
            {{ form.nombre (class="input")}}

            <p>Email del usuario:</p>
            {{ form.email (class="input")}}

            <p>Id del usuario:</p>
            {{ form.usuario (class="input")}}

            <p>contraseña:</p>
            {{ form.contraseña (class="input")}}

            <p>rol:</p>
            {{ form.rol (class="input")}}

            <div class="contenedor2"></div>
            {{form.enviar(class="btn btn-primary btn-large btn-block")}}  
    </div>  
    
    </form>

    {% endblock %}