{% extends "base.html" %}

{% block contenido %}

    <form class="BarraSuperior">
        <a class="Home" href="/login/">Home </a>
        
    </form>
    
    <form action ="contCrePro" method="GET">

        {{ form.hidden_tag() }}
        <h1 class="h1">Por favor ingrese los datos del producto</h1>

    <div class="contCrePro-form">
        <label for="Cat" class="label">Categoria: </label>
        {{form.categoria (type="text",  id="Cat", placeholder="Ingrese la categoria a la que pertenece el producto")}}
        <br>
        <label for="Ref" class="label">Referencia: </label>
        {{form.referencia (type="text",  id="Ref", placeholder="Ingrese la referencia del producto")}}
        <br>
        <label for="nomProd" class="label">Nombre: </label>
        {{form.nombre (type="text",  id="nomProd", placeholder="Ingrese el nombre del producto")}}
        <br>
        <label for="precio" class="label">Precio: </label>
        {{form.precio (type="precio",  id="precio", placeholder="Ingrese el precio unitario del producto")}}
        <br>
        <label for = "cantidad" class="label">Cantidad: </label>
        {{form.cantidad (type="cantidad", id="cantidad", placeholder="Ingrese la cantidad del producto")}} 
        <br>
        <label for = "descrip" class="label">Descripción: </label>
        {{form.descripcion (type="descrip", id="descrip", placeholder="Ingrese detalladamente la descripción del producto")}} 
        <br>
        <label for = "imagenp" class="label">Imagen: </label>
        <input class="input" type="imagenp" name="" id="imagenp" placeholder="Ingrese la url de imagen del producto"> 
        <br>
    </div>  

    <p>
        {{form.actualizar(class="btn btn-primary btn-large btn-block")}}
        <script src="../static/js/CP.js"></script>
    </p>


{% endblock %}