{% extends "base.html" %}

{% block contenido %} 
  <div id="menu">
     <ul>
     <li> <a href="/CrearUsuario/">Crear Usuario </a></li>
     <li> <a href="/CrearProducto/">Crear Nuevo Producto</a></li>                  
      </ul>
  </div>
    
    <div class = "buscar">     
     <input type="text" class="buscar_text" placeholder="buscar">
     

     </a>  
    </div>   
    <div class="container">
      {% for producto in productos %}
    
      <div class="item" style="display: inline-block;">

         <div class="item-text">
          <p>Codigo {{ producto.0 }}</p>
          <p>Nombre {{ producto.1 }}</p>
          <p>Precio {{ producto.2 }}</p>
          <p>Cantidad {{ producto.3 }}</p>
          <p>Descripcion {{ producto.4 }}</p>
         </div>
      
         <a href="/modificarproducto">
          <button type="button" style="background:green">   
          <input type="button" value="Modificar">      </button></a>
          <button type="button" style="background:red">,
          <input type="button" value="Eliminar">
      </div>
      
      {%endfor%}

{% endblock %}
