<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/estilosH.css">
</head>
<body>
  <div id="menu">
     <ul>
     <li> <a href="/CrearUsuario/">Crear Usuario </a></li>
     <li> <a href="/CrearProducto/">Crear Nuevo Producto</a></li>                  
      </ul>
  </div>
    
   <div class = "buscar">     
     <input type="text" class="buscar_text" placeholder="buscar">
     

     </a>  
   </div>   
    <div class="container">
       <div class="item">
         <img src="../static/imagenes/imagen1.jpg" alt=""class="item-img">
         <div class="item-text">
          <h3>celular Xiaomi Note7 64GB</h3>
          <h5>$1.399000</h5> 
          <h6>disponible</h6> 
          <a href="">consultar</a>         
        </div>       
    </div>
    

    <div class="item">
        <img src="../static/imagenes/imagen2.jpg" alt=""class="item-img">
        <div class="item-text">
         <h3>maletas de viajes</h3>         
         <h5>$1.399000</h5>
         <h6>disponible</h6> 
         <a href="">consultar</a>             
        </div>               
    </div>

    <div class="item">
        <img src="../static/imagenes/imagen3.jpg" alt=""class="item-img">
        <div class="item-text">
         <h3>Smartwatch Haylou Ls05 Solar Reloj Inteligente 12 Deportes</h3>
          <h5>$1100.000</h5>
          <h6>disponible</h6> 
          <a href="">consultar</a>  
       </div>
    </div>

    <div class="item">
        <img src="../static/imagenes/imagen4.jpg" alt=""class="item-img">
        <div class="item-text">
         <h3>JXD Singularity S192 una consola Android con el SoC Tegra K1</h3>
         <h5>$1800.000</h5>
         <h6>disponible</h6>
         <a href="">consultar</a>  
       </div>
    </div>

    <div class="item">
        <img src="../static/imagenes/imagen5.jpg" alt=""class="item-img">
        <div class="item-text">
         <h3>Camara Digital,sistema Android</h3>
         <h5>$1530.000</h5>
         <h6>disponible</h6>
         <a href="">consultar</a>  
       </div>
    </div>

    <div class="item">
        <img src="../static/imagenes/imagen6.jpg" alt=""class="item-img">
        <div class="item-text">
         <h3>Razer Project Valerie</h3>
         <h5>$5000.000</h5>
         <h6>No disponible</h6>
         <br><br><br><br><br>
         


       </div>
       
    </div>    
    <a class="login-link" href="./modificarproducto.html">Consultar</a> 

</body>
</html>