{% extends "base.html" %}

{% block contenido %}  


<h1 style="color: white ; margin: 0px 500px;">Modificar producto</h1>

    
        
    <div class="contenedor3" style="margin: 10px 500px ; ">

        <form action="{{url_for('modificarproducto')}}", methods= "POST">
            {{ form.hidden_tag() }}
            <h2>Información del producto:</h2>
            {% if session.get("usuarios").get("rol")=="adm" %}
            <p>Codigo:</p>
            {{ form.codigo (class="inpu")}}
            
            <p>Nombre:</p>
            {{ form.nombre (class="inpu")}}

            <p>Precio:</p>
            {{ form.precio (class="inpu")}}
            {% endif %}
            <p>Cantidad: </p>
            {{ form.cantidad (class="inpu")}}
            {% if session.get("usuarios").get("rol")=="adm" %}
            <p>Descripción:</p>
            {{ form.descripcion (class="inpu")}}

            <h3>Subir nueva imagen:</h3> 
            {{ form.imagen }}
            {% endif %} 
            <div class="contenedor2">

            {{form.actualizar(class="btn btn-primary btn-large btn-block")}}        
        </form>
        </div>
    </div>

{% endblock %}















