{% extends "base.html" %}

{% block contenido %}  


<h1 style="color: white ; margin: 0px 500px;">Modificar producto</h1>

    
        
    <div class="contenedor3" style="margin: 10px 500px ; ">

        <form method="POST" action="{{url_for('home')}}">
            {{ form.hidden_tag() }}
            <h2>Información del producto:</h2>

            <p>Nombre:</p>
            {{ form.nombre (class="input")}}

            <p>Precio:</p>
            {{ form.precio (class="input")}}

            <p>Cantidad: </p>
            {{ form.cantidad (class="input")}}

            <p>Descripción:</p>
            {{ form.descripcion (class="input")}}

            <h3>Subir nueva imagen:</h3> 
            <div class="contenedor2">
                <img src="{{ url_for ('static', filename='img/subir.jpg')}}" width="100">
            </div>

            <div class="contenedor2">

            {{form.actualizar(class="btn btn-primary btn-large btn-block")}}            
        </form>
        </div>
    </div>

{% endblock %}















