{% extends "base.html" %}

{% block contenido %}  

<div class="Recuperar">
    <div class="rec-screen">
        <div class="app-title"> 


            <h1>Recuperar Contraseña</h1>
            <form action="{{url_for('RecuperarClave')}}" method="POST">
            {{ form.hidden_tag() }}
           
    
            
            <div class="Recuperar-form"> 
                <div class="recuperarClave">
                    <h4 >Introduzca su correo eletrónico para recuperar contraseña</h4>
                    <label for="e-mail"> </label>
                    {{form.email (class= "recuperar_field", value="",placeholder="email",id="recuperar-pass")}} 

            

                </div>
            
            <div>
            {{form.enviar(class="btn btn-primary btn-large btn-block")}}
        </div>        
         </form>
    </div>
</div>
{% endblock %}
