<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecuperarClave</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css" type="text/css">
    
    <script src="{{ url_for ('static', filename='js/recuperarapp.js"> </script>
</head>
<body>
    <div class="rec-screen">
        <form action="login.html">
            
        <div class="rec_title">
            <h1>Recuperar Contraseña</h1>
        </div>
        <div class="recuperarClave">
            <h5 >Introduzca su correo eletrónico para recuperar contraseña</h5>
            <label for="e-mail">E-mail</label>
            <input required type="email" name="user e-mail" id = "email" >
        </div>
        <br>
        <div>
            <button class="recuperarClaveButton">Restablecer</button>
        </div>

        </fieldset>
        </form>
    </div>
</body>
</html>
