{% extends "base.html" %}



{% block contenido %}
<p>Bienvenidos {{session["username"]}}</p>
<div class="conteiner" style="margin-top: 100px;">
    


    <table class="table">
        <thead>


            <tr>
                <th>referencia</th>
                <th>nombre</th>
                <th>precio</th>
                <th>cantidad</th>
                <th>descripcion</th>
                                
            </tr>
        </thead>
        <tbody>
            {% for p in inventario %}
            <tr>
                <td>{{ p["ref"] }}</td>   
                
                <td>

                    <img src="{{ p['img_url'] }}" width="30px" height="30px" />
                    <p><a href="{{ url_for('product', id=p['ref']) }}">ver Detalle</a></p> 
                </td>               

            </tr>
          {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}